<div class="col-md-12">
	<form class="form-horizontal" name="loginForm" role="form" novalidate>
		<div class="row form-group">
			<div class="col-md-6">
				<label class="col-md-4 control-label">Username</label>
				<input class="col-md-8" ng-model="user.username"></input>
			</div>	
			<div class="col-md-6">
				<label class="col-md-4 control-label">Password</label>
				<input class="col-md-8" ng-model="user.password"></input>
			</div>
		</div>	

		<div class="row">
			<button class="col-md-6 btn btn-default col-md-offset-3"  ng-click="login();" >Login</button>
		</div>

		<div class="row">
			<button class="col-md-3 btn btn-default"  ng-click="check();" >Check</button>
			<button class="col-md-3 btn btn-default"  ng-click="authorize();">Authorize</button>
		</div>
	</form>
	<h5>Message = {{message}}</h5>

</div>
